---
layout: default
title: All Devices
navigation: 19
---
<h2>{{ page.title }}</h2>

<!-- ######################################################################  -->
{% assign category = site.zigbee %}
{% assign type_group = category | group_by: 'category' | sort_natural %}
{% assign type_grouped = type_group | sort: 'model' %}
{% for group in type_grouped %}
<BR>
<h3>{{ group.name | capitalize }}</h3>
<table id="{{group.name}}" width="80%">
    <!-- <thead>
    <tr>
        <th class="td-first">Picture</th>
        <th class="td-second">Manufacturer and Name</th>
        <th>Model #</th>
        <th class="th-compat">Zigbee2MQTT</th>
        <th class="th-compat">ConBee</th>
        <th class="th-compat">ZiGate</th>
        <th class="th-compat">Tasmota</th>
    </tr>
    </thead> -->
    <tbody>
    {% assign grouptitlesorted = group.items | sort_natural: 'vendor' %}     
    {% for template in grouptitlesorted %}
    {% include tablerow.html %}
    {% endfor %}
</tbody>
</table>
{% endfor %}
  