---
layout: page
title: Zigbee Device Compatibility Repository
---
<div class="container">
    <div class="row">
        <div class="column column-75">
        <h4>Zigbee Device Compatibility Repository</h4>
        </div>
        <div class="column colum-25 float-right">
            <span style="vertical-align: middle;"><strong>{% assign counter = 0 %}{% for item in site.zigbee %}{% assign counter=counter | plus:1 %}{% endfor %}{{ counter }}</strong> devices listed.</span>
        </div>
    </div>
    <div class="row">
        <div class="column">
        <strong>List of Zigbee devices supported by <a href="https://www.home-assistant.io/integrations/zha/">ZHA</a>, <a href="https://tasmota.github.io/docs/Zigbee">Tasmota</a>, <a href="https://zigbee2mqtt.io">Zigbee2MQTT</a>, <a href="https://dresden-elektronik.github.io/deconz-rest-doc/">deCONZ</a>, <a href="https://zigate.fr">ZiGate</a> and <a href="https://github.com/ioBroker/ioBroker.zigbee">ioBroker.zigbee</a></strong>
        </div>
    </div>
<div class="row">
    <div class="column">
    <h4></h4>
    </div>
</div>
<div>
</div>
<div class="row">
    <div class="column column-90">
<h5>Recently added:</h5>
{% assign sorted = site.zigbee  | sort: "date_added" | reverse %}
<table>
    <tbody>
        {% for template in sorted limit: 12 %}
        {% include tablerow.html %}
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<span style="font-size:0.6em;">As an Amazon Associate I earn from qualifying purchases from provided device links.</span>      