---
layout: default
title: Zigbee2Tasmota
---
<h2>{{ page.title }}</h2>
How to set up <a href="https://tasmota.github.io/docs/#/Zigbee" target="_blank">Zigbee2Tasmota</a>.
<!-- ######################################################################  -->
{% assign compatibility = site.zigbee | where: "compatible", "tasmota" %}
{% assign gateway = site.zigbee | where: "category", "light" | concat: compatibility | uniq %}
{% assign types = gateway | group_by: 'category' | sort_natural: "name"  %} 
    {% for type in types %}
    <h3> {{ type.name | capitalize }} </h3>
    <table>
        <tbody>
        {% assign vendor = type.items | group_by: 'vendor' %} 
        {% assign vendors = vendor | sort: 'name' %} 
        {% for type in vendors %}
        {% assign type_sorted = type.items | sort_natural: 'title' %}     
        {% for template in type_sorted %}
        {% include tablerow_nocompatibility.html %}
        {% endfor %}
        {% endfor %}
</tbody>
</table>
{% endfor %}
   