{% if link contains "banggood" %}
{{ link | append: "?p=CM27171011078201412U&custlinkid=759721" }}
{% elsif link contains "gearbest" %}
{{ link | append: "?lkid=78266777" }}
{% elsif link contains "amazon.de" %}
{{ link | append: "?tag=blakadderzigbee0a-21" }}
{% elsif link contains "amazon.com.au" %}
{{ link | append: "?tag=blakadderzigbee-22" }}
{% elsif link contains "amazon.co.uk" %}
{{ link | append: "?tag=blakadderzigbee-21" }}
{% elsif link contains "amazon.com" %}
{{ link | append: "?tag=blakadderzigbee-20" }}
{% elsif link contains "amazon.ca" %}
{{ link | append: "?tag=blakadderzigbee0e-20" }}
{% elsif link contains "amazon.fr" %}
{{ link | append: "?tag=blakadderzigbee0c-21" }}
{% elsif link contains "amazon.es" %}
{{ link | append: "?tag=blakadderzigbee01-21" }}
{% elsif link contains "amazon.it" %}
{{ link | append: "?tag=blakadderzigbee04-21" }}
{% elsif link contains "amazon.se" %}
{{ link | append: "?tag=blakadder07-21" }}
{% elsif link contains "amazon.nl" %}
{{ link | append: "?tag=blakadder04-21" }}
{% elsif link contains "amazon.pl" %}
{{ link | append: "?tag=blakadder0b-21" }}
{% elsif link contains "domadoo.fr" %}
{{ link | append: "?domid=O7dGCbgsc" }}
{% elsif link contains "moeshouse.com" %}
{{ link | append: "?ref=v4thya2eufek" }}
{% elsif link contains "www.aliexpress.com" %}
{{ link | append: "?aff_platform=link-c-tool&cpt=1579460387259&sk=_sPA71V&aff_trace_key=1ea588879adf4a71b69472fcc8469bea-1579460387259-01187-_sPA71V&terminal_id=5ab3b3bf703c438dac102dcfef054d7e" }}
{% elsif link contains "itead.cc" %}
{{ link | uri_escape | prepend: "https://www.anrdoezrs.net/links/100155213/type/dlg/" }}
{% elsif link contains "geekbuying.com" %}
{{ link | uri_escape | prepend: "https://www.anrdoezrs.net/links/100155213/type/dlg/" }}
{% elsif link contains "www.alibaba.com" %}
{{ link | uri_escape | prepend: "https://offer.alibaba.com/cps/ais1lue4?bm=cps&src=saf&url=" }}
{% elsif link contains "alza" %}
{{ link | append: "?idp=13979&banner_id=39281" }}
{% else %}
{{ link }}
{% endif %}
