{% if link contains "banggood" %}
{{ link | append: "?p=CM27171011078201412U&custlinkid=759721" }}
{% elsif link contains "gearbest" %}
{{ link | append: "?lkid=78266777" }}
{% elsif link contains "amazon.de" %}
{{ link | append: "?tag=blakadderzigbee0a-21" }}
{% elsif link contains "amazon.com.au" %}
{{ link | append: "?tag=blakadderzigbee-22" }}
{% elsif link contains "amazon.co.uk" %}
{{ link | append: "?tag=blakadderzigbee-21" }}
{% elsif link contains "amazon.com" %}
{% elsif link contains "amazon.com.be" %}
{{ link | append: "?tag=shnews-21" }}
{% elsif link contains "amazon.com.mx" %}
{{ link | append: "?tag=shn03-20" }}
{{ link | append: "?tag=blakadderzigbee-20" }}
{% elsif link contains "amazon.ca" %}
{{ link | append: "?tag=blakadderzigbee0e-20" }}
{% elsif link contains "amazon.fr" %}
{{ link | append: "?tag=blakadderzigbee0c-21" }}
{% elsif link contains "amazon.es" %}
{{ link | append: "?tag=blakadderzigbee01-21" }}
{% elsif link contains "amazon.it" %}
{{ link | append: "?tag=blakadderzigbee04-21" }}
{% elsif link contains "amazon.se" %}
{{ link | append: "?tag=blakadder07-21" }}
{% elsif link contains "amazon.nl" %}
{{ link | append: "?tag=blakadder0d4-21" }}
{% elsif link contains "amazon.pl" %}
{{ link | append: "?tag=blakadder09-21" }}
{% elsif link contains "domadoo.fr" %}
{{ link | append: "?domid=14" }}
{% elsif link contains "moeshouse.com" %}
{{ link | append: "?ref=v4thya2eufek" }}
{% elsif link contains "zemismart.com" %}
{{ link | append: "?DIST=QEVHGw%3D%3D" }}
{% elsif link contains "loratap.com" %}
{{ link | append: "DIST=REBOFQ%3D%3D" }}
{% elsif link contains "www.aliexpress.com" %}
{{ link | append: "?aff_fcid=838cd87b9730419a949bb351a9225daf-1635037251054-04238-_9gTCE1&tt=CPS_NORMAL&aff_fsk=_9gTCE1&aff_platform=shareComponent-detail&sk=_9gTCE1&aff_trace_key=838cd87b9730419a949bb351a9225daf-1635037251054-04238-_9gTCE1&terminal_id=c60aa1c2bd3d4f80907b0cc2716fb935" }}
{% elsif link contains "www.alibaba.com" %}
{{ link | uri_escape | prepend: "https://offer.alibaba.com/cps/ais1lue4?bm=cps&src=saf&url=" }}
{% elsif link contains "bol.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://partner.bol.com/click/click?p=2&t=url&s=1275491&f=TXL&url=" }}
{% elsif link contains "conrad" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=5769&awinaffid=930253&ued=" }}
{% elsif link contains "idealo.de" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=15536&awinaffid=930253&ued=" }}
{% elsif link contains "tink.de" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=13686&awinaffid=930253&ued=" }}
{% elsif link contains "geekbuying.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://affiliate.geekbuying.com/deeplink.php?affid=3873&url=" }}
{% elsif link contains "itead.cc" %}
{{ link | append: "/ref/34/" }}
{% elsif link contains "smartwings" %}
{{ link | append: "?ref=38" }}
{% elsif link contains "walmart.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://ad.admitad.com/g/4jg2ecwjgpa026925063bef27d4341/?ulp=" }}
{% elsif link contains "aidot.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=2085135&u=2442238&m=127860&urllink="  }}
{% elsif link contains "avatarcontrols.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://www.shareasale.com/r.cfm?b=1651554&u=2442238&m=102746&urllink="  }}
{% elsif link contains "ledbe.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1726402&u=2442238&m=107603&urllink="  }}
{% elsif link contains "linkind" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1616481&u=2442238&m=101126&urllink="  }}
{% elsif link contains "treatlife" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1838946&u=2442238&m=114660&urllink="  }}
{% elsif link contains "alza" %}
{{ link | append: "?idp=13979&banner_id=39281" }}
{% else %}
{{ link }}
{% endif %}
