<div id="navigation" class="navigation">
<ul class="navigation" id="navigation">
<li><b>Sorted by Type</b>
    {% assign cat = site.data.nav.toc %}
{% for item in cat %}
    <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{ item.name }}</a>
        <div style="display: flex; flex-flow: row wrap;" id="subnav">
            {% for entry in item.subnav %}
            <div><a class="{% if page.url == entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">{{ entry.title }} 
                {% unless forloop.last %} |&nbsp; {% endunless %}</a></div>
            {% endfor %}
        </div>
    </li>
{% endfor %}
<li>
<li><b>Zigbee Gateways</b></li>
<li><a href="https://www.zigbee2mqtt.io/" target="_blank">Zigbee2MQTT</a></li>
<li><a href="https://www.dresden-elektronik.de/funk/software/deconz.html" target="_blank">deCONZ </a></li>
<li><a href="https://zigate.fr/" target="_blank">ZiGate</a></li>
<li><a href="https://tasmota.github.io/docs/#/Zigbee" target="_blank">Zigbee2Tasmota</a></li>
</ul>
</div>
