<div id="navigation" class="navigation">
<ul class="navigation" id="navigation">
    <li><a href="search.html">Search...</a></li>
    <li>
    <li><b>Devices by Gateways</b></li>
    <li><a href="zha.html">Zigbee Home Automation</a></li>
    <li><a href="zigbee2tasmota.html">Tasmota</a></li>
    <li><a href="zigbee2mqtt.html">Zigbee2MQTT</a></li>
    <li><a href="deconz.html">deCONZ </a></li>
    <li><a href="z4d.html">Zigbee for Domoticz</a></li>
    <li><a href="iobroker.html">ioBroker.zigbee</a></li>
    <li>
        <li><b>Devices by Type</b>
    {% assign cat = site.data.nav.toc %}
{% for item in cat %}
    <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{ item.name }}</a>
        <div style="display: flex; flex-flow: row wrap;" id="subnav">
            {% for entry in item.subnav %}
            <div><a class="{% if page.url == entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">{{ entry.title }} 
                {% unless forloop.last %} |&nbsp; {% endunless %}</a></div>
            {% endfor %}
        </div>
    </li>
{% endfor %}
<li>
</ul>
<div style="text-align: center; ">
    <a class="button button button-black" href="new.html">Add new template</a>
    <br>
    <a href="https://paypal.me/tasmotatemplates"><img src="https://img.shields.io/static/v1?logo=paypal&label=&message=donate&color=slategrey"></a>
    <span style="font-size:0.7em;">When purchasing through supported device affiliated links you support this site!</span>
</div>
</div>
