<div id="navigation" class="navigation">
<ul class="navigation" id="navigation">
    <li><b>Devices by Gateways</b></li>
    <li><a href="zigbee2mqtt.html">Zigbee2MQTT</a></li>
    <li><a href="deconz.html">deCONZ </a></li>
    <li><a href="zigate.html">ZiGate</a></li>
    <li><a href="tasmota.html">Zigbee2Tasmota</a></li>
    <li>
        <li><b>Devices by Type</b>
    {% assign cat = site.data.nav.toc %}
{% for item in cat %}
    <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{ item.name }}</a>
        <div style="display: flex; flex-flow: row wrap;" id="subnav">
            {% for entry in item.subnav %}
            <div><a class="{% if page.url == entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">{{ entry.title }} 
                {% unless forloop.last %} |&nbsp; {% endunless %}</a></div>
            {% endfor %}
        </div>
    </li>
{% endfor %}
<li>
</ul>
</div>
