{%- if page.vendor contains "Gledopto" -%}
<h6>Pairing Instructions</h6>

<ul>
    <li>Switch on your device.</li>
<li>Now switch off and on within 2 seconds.</li>
<li>Repeat off/on four times.</li>
<li>Reset is done when the device is switched on the fifth time and the light stays on after blinking 4 times</li>
</ul>


{%- elsif page.vendor contains "Xiaomi" -%}
{%- unless page.title contains "Vima" or page.title contains "Honeywell" -%}
<h6>Pairing Instructions</h6>

Press and hold the button on the device until the blue light starts blinking, release it and the pairing should begin.
<p>
If you're having connection or pairing issues read <a href="https://community.hubitat.com/t/xiaomi-aqara-devices-pairing-keeping-them-connected/623">Xiaomi & Aqara Devices - Pairing & Keeping them connected</a>.
{% endunless %}

{%- elsif page.vendor contains "Philips" and page.category == "light" -%}

<h6> Pairing Instructions</h6>
Factory resetting a Hue bulb can be accomplished in one of 4 ways:
<ol>
<li>Touchlink factory reset - See <a href="https://www.zigbee2mqtt.io/information/touchlink">Touchlink article</a>.
<li>Hue bridge - When the bulb is still connected to the Hue bridge, you can simply factory reset the bulb.
by removing it from the bridge via the Hue app.
<li>Hue dimmer switch - Factory reset a Hue bulb with Hue dimmer switch <a href="https://www.youtube.com/watch?v=qvlEAELiJKs" target="_blank">Video instructions.</a>
<li>Trådfri remote control - Pressing and holdg the reset button on the bottom of the remote (next to the battery). This may <a href="https://github.com/Koenkk/zigbee2mqtt/issues/296#issuecomment-416923751">not always work</a>.
</ol>
After resetting the bulb will automatically connect.
<p>

  {%- elsif page.vendor contains "IKEA" and page.category == "light" -%}

  <h6> Pairing Instructions</h6>
  Factory reset the light bulb (<a href="https://www.youtube.com/watch?v=npxOrPxVfe0">video instructions</a> [video]).  After resetting the bulb will automatically connect.
  <p>
  While pairing, keep the bulb close to the Zigbee gateway.
  <p>
  What works is to use (very) short “on”’s and a little bit longer “off’s”.
  Start with bulb on, then off, and then 6 “on’s”, where you kill the light as soon as the bulb shows signs of turning on.
  <p>

  {%- elsif page.vendor contains "Müller Licht " and page.category == "light" -%}

  <h6> Pairing Instructions</h6>
  Turn the light bulb five times on and off. After turning it on the sixth time, it will indicate with colors that the bulb is pairing.
  <p>
    
  <!-- {%- elsif page.vendor contains "Müller Licht" and page.category == "light" -%}

  <h6> Pairing Instructions</h6>
  <ol>1. Switch on your device.
  <ol>Now switch off and on within 2 seconds.
  <ol>Repeat off/on four times.
  <ol>Reset is done when the device is switched on in the fifth time and the light stays on after blinking 4 times
  <p> -->

{%- elsif page.vendor contains "Legrand" -%}
Some Legrand devices work only on Zigbee channel 11. With certain devices you need the Legrand Hub to update the firmware to have all features available.

<h6> Pairing Instructions</h6>
<li>You must have access to the reset button on the device
<li>Make sure that the gateway is not in pairing mode
<li>Press 8s (approximately) on the reset button of the device (until it turns red) to ensure its disconnected from the network
<li>Now switch your gateway to pairing Mode
<li>Press the reset button 8s (approximately) to start the pairing procedure
<li>Make successive clicks on the reset button (every second), until the LED turns green
<p>
Detailed pairing instructions and additional information on <a href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Legrand-Netatmo-corner.md" target="_blank">pipiche38 wiki</a>.
</p>
{%- elsif page.vendor contains "Konke" -%}

Konke devices only work on Zigbee channel 15, 20 and 25. (On Zigate they will work on channel 11, but first they must be paired on channel 15. After that switch the Zigate to channel 11 and the device will follow automatically)

{%- elsif page.vendor contains "Innr" and page.category == "light" -%}
<h6>Pairing Instructions</h6>
Factory reset the light bulb <a href="https://www.youtube.com/watch?v=4zkpZSv84H4" target="_blank">(video instructions)</a>

{% endif %}

