<sidebar class="sidebar" id="sidebar">
	<div class="sidebar-mobile">
		<img src="{{ "/assets/images/menu.svg" | relative_url }}" class="menu-icon" id="menu" alt="Menu" />
		<img src="{{ "/assets/images/close.svg" | relative_url }}" class="close-icon" id="close" alt="Close menu" />
	</div>
	<div style="text-align: center"><a href="{{ "index.html" | relative_url }}"><img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Logo" /></a></div>
	<!-- {% include search.html %} -->
	<div class="sidebar-main">
		{% include nav.html %}
		<!-- {% include search-results.html %}<BR> -->
	</div>
</sidebar>
