<p>{%- if page.vendor == "IKEA" or page.vendor == "Ubisys" or page.vendor == "OSRAM" or page.vendor == "Ledvance" -%}

<h5>OTA Updates</h5>
This device supports OTA updates. For more information see <a href="https://www.zigbee2mqtt.io/information/ota_updates.html" target="_blank">Zigbee2MQTT documentation</a>.

{% endif %}
</p>

<p>
{%- if page.supports contains "green power" -%}

<h5>Green Power</h5>
Green Power is a feature of Zigbee that allows for energy-harvesting technology to be used directly with the Zigbee stack. Green Power devices do not send standard Zigbee messages. To use a Green Power device in your Zigbee network you need a "translator". Currently only a Philips Hue device can serve as a translator. 
<br>
Your Zigbee Green Power device has to always be in range of a Philips Hue device to function.

{% endif %}
</p>