    <table>
    <thead>
        <tr><th style="border-bottom: none">Supports:</th></tr>
    </thead>
    <tbody>
      {% assign supports = page.supports | split: ',' | sort_natural %}
      {% for function in supports %}
    <tr>
        <td style="border-bottom: none">
            {{ function | replace: 'colorxy', 'color xy' | replace: 'colortemp', 'color temperature' | replace: 'batterylow', 'low battery warning' | replace: 'batterypct', 'battery percentage' | replace: 'double_on_off', 'left/right on/off' | replace: 'lr_on_off', 'left/right on/off' | replace: 'lrc_on_off', 'left/center/right on/off' | replace: 'tbc_on_off', 'top/center/bottom on/off' | replace: 'tb_on_off', 'top/bottom on/off' | replace: '123_on_off', 'key 1/2/3 on/off'  }}
        </td>
    </tr>
    {% endfor %}
    {%- if page.vendor == "Philips" -%}
    <tr>
        <td style="border-bottom: none">ota
        </td>
    </tr>
    {% endif %}
    {%- if page.action != nil -%}
    <tr><th style="border-bottom: none">Action types:</th></tr>
    {% assign actions = page.action | split: ',' | sort_natural %}
    {% for action in actions %}
    <tr>
        <td style="border-bottom: none"><code>{{ action | strip }}</code></td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
