    <table>
    <thead>
        <tr><th style="border-bottom: none">Supports:</th></tr>
    </thead>
    <tbody>
      {% assign supports = page.supports | split: ',' | sort: 'name' %}
      {% for function in supports %}
    <tr>
        <td style="border-bottom: none">
            {{ function | replace: 'colorxy', 'color xy' | replace: 'colortemp', 'color temperature' | replace: 'batterylow', 'low battery warning' | replace: 'batterypct', 'battery percentage' }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
