---
layout: default
---
<div class="container">

  <div class="row">
  <div class="column column-75">
    <span style="font-size: xx-large; font-weight: 500; letter-spacing: -.1rem;">{{ page.title | truncate: 57 }}</span>
</div>
<div class="float-right column column-25">
  {% if page.compatible contains "z2m" %}<a href="zigbee2mqtt.html"><img style="width: 4rem;" src="/assets/images/z2m-icon.png"></a>{% endif %}
  {% if page.compatible contains "zha" or page.category == "light"%}<a href="zha.html"><img style="width: 4rem;" src="/assets/images/zha-icon.png"></a>{% endif %}
  {% if page.compatible contains "conbee" or page.category == "light" %}<a href="deconz.html"><img style="width: 4rem;" src="/assets/images/deconz-icon.png"></a>{% endif %}
  {% if page.compatible contains "zigate" %}<a href="zigate.html"><img style="width: 4rem;" src="/assets/images/zigate-icon.png"></a>{% endif %}
  {% if page.compatible contains "tasmota" or page.category == "light"%}<a href="zigbee2tasmota.html"><img style="width: 4rem;" src="/assets/images/tasmota-icon.png"></a>{% endif %}
  {% if page.compatible contains "iob" %}<a href="zha.html"><img style="width: 4rem;" src="/assets/images/iobroker-icon.png"></a>{% endif %}
</div>
</div>
<div class="row">
  <div class="column column-60">
    <span style="font-size: large;">Model {{ page.model }} manufactured by {{ page.vendor }} </span>
</div>
<div class="column column-40">
  <span style="font-size: large;"></span>
</div>
</div>
<div class="row">
  <div class="column column-60"> 
    <img src="{{ page.image }}" alt="{{ page.title }}" style="max-height: 350px; max-width: 400px;">
  </div>
  <div class="column">
    <!-- <table>
      <thead>
          <tr><th style="border-bottom: none">Zigbee IDs:</th></tr>
      </thead>
      <tbody>
        {% for zmodel in page.zigbeemodel %}
        <tr>
          <td style="border-bottom: none">
            {{ zmodel }}
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table> -->
    {% include supports.html %}
  </div>
  <div class="column">
      {% include links.html %}
  </div>
</div>
<div class="row">
  <div class="column column-90">{% if page.zigbeemodel != nil %}Zigbee ID: {% for zmodel in page.zigbeemodel %}"{{ zmodel }}"{% unless forloop.last %}; {% endunless %}{% endfor %}{% endif %}</div>
  <div class="column column-10">
    <a class="button button-outline button-small button-red menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a>
      <a href="https://twitter.com/intent/tweet?screen_name=blakadder_&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-text="{{ page.url }} template is " data-show-count="false">Tweet me updates</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

{{ content | markdownify }} 

{%- unless page.category == "coordinator" -%}

{% include pairing.html %}

{%- if page.compatible contains "zigate" and page.zigatelink != nil -%}
<a href="{{ page.zigatelink }}">Entry on ZiGate site.</a>
{% endif %}

{%- if page.compatible contains "z2m" -%}
<h2>Zigbee2MQTT Configuration</h2>
{% include specific.html %}

{% include hass.html %}

{% endif %}

{%- endunless -%}

<div id="amzn-assoc-ad-c632316f-24d7-45e3-9fd2-4f1038ceddbc"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=c632316f-24d7-45e3-9fd2-4f1038ceddbc"></script>
