---
layout: default
---
<div class="container">

  <div class="row">
    <div class="column column-60">
      <span style="font-size: large;">Manufactured by {{ page.vendor }} </span>
  </div>
  <div class="column column-40">
    <span style="font-size: large;">Model# {{ page.model }}</span>
  </div>
  </div>
  <div class="row">
  <div class="column column-100">
    <span style="font-size: xx-large; font-weight: 500; letter-spacing: -.1rem;">{{ page.title | truncate: 50 }}</span>
</div>

</div>
<div class="row">
  <div class="column column-60"> 
    <img src="{{ page.image }}" alt="{{ page.title }}" style="max-height: 350px; max-width: 400px;">
  </div>
  <div class="column">
    <table>
      <thead>
          <tr><th style="border-bottom: none">Zigbee IDs:</th></tr>
      </thead>
      <tbody>
        {% for zmodel in page.zigbeemodel %}
        <tr>
          <td style="border-bottom: none">
            {{ zmodel }}
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
    {% include supports.html %}
  </div>
  <div class="column">
      {% include links.html %}
  </div>
</div>
<div class="row">
  <div class="column column-90"><hr></div>
  <div class="column column-10"><a class="button button-clear button-small button-red menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
</div>
{{ content | markdownify }} 

{%- unless page.category == "coordinator" -%}

{% include pairing.html %}

{%- if page.compatible contains "z2m" -%}

{% include specific.html %}

{% include hass.html %}

{% endif %}

{%- endunless -%}

<div id="amzn-assoc-ad-c632316f-24d7-45e3-9fd2-4f1038ceddbc"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=c632316f-24d7-45e3-9fd2-4f1038ceddbc"></script>
